@using UUMS_SSO.Models

<div class="div_link_area" id="div_link_area_1">
    <ul>
        <li class="level1">郵箱
            <ul>
                <li class="lotus"><a id="LOTUS_MAIL" href="#">WEB郵箱 </a>（<a id="LOTUS_MAILCOMPACT"
                    href="#">壓縮郵箱 </a>）</li>
                <li>Outlook-<a id="OUTLOOK_MAIL_JH"  href="#">WEB郵箱 </a>(精華)</li>
            </ul>
        </li>
        <li class="level1">待審清單、簽呈、布告欄
            <ul>
                <li class="lotus">
                    <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfsys/jwftbr.nsf/", "&d=LOTUS_OA_PSA_101")">
                        待審清單
                    </a>&nbsp;&nbsp; 
                    <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfsys/petition.nsf", "&d=LOTUS_OA_PSA_102")">
                        簽呈 
                    </a>
                </li>
                <li class="lotus">
                    <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfsys/lwfAgentDb.nsf/", "&d=LOTUS_OA_PSA_103")">
                        簽核代理人設定 
                    </a>
                </li>
                <li class="lotus">
                    <a target="_blank" href="@Util.EncodeUrl("http://gbmns31.gbmgroup.com/lwfsys/bulletin.nsf", "&d=LOTUS_OA_GBM_101")">
                        電子布告欄 
                    </a>
                </li>
                <li class="lotus">
                    <a target="_blank" href="@Util.EncodeUrl("http://gbmns31.gbmgroup.com/lwfsys/bulletin.nsf/fmPortal?OpenForm", "&d=LOTUS_OA_GBM_102")">
                        電子布告欄查詢 
                    </a>
                </li>
            </ul>
        </li>
        <li class="level1">電話、線上溝通、會議
            <ul>
                <li class="lotus">
                    <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfsys/lwfTelSearchSys.nsf", "&d=LOTUS_OA_PSA_108")">
                        電話查詢系統 
                    </a>
                </li>
                <li class="lotus">
                    <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfsys/talksys.nsf/", "&d=LOTUS_OA_PSA_104")">
                        線上溝通系統 
                    </a>
                </li>
                <li class="lotus">
                    <a target="_blank" href="@Util.EncodeUrl("http://psamc03.passivecomponent.com/stcenter.nsf", "&d=LOTUS_OA_PSA_105")">
                        Sametime會議 
                    </a>
                </li>
                <li class="lotus">
                    <a id="LOTUS_OA_PSA_106" href="#" title="http://wtcicm.passivecomponent.com/lwfsys/meetroom.nsf">
                    <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfsys/meetroom.nsf", "&d=LOTUS_OA_PSA_106")">
                        會議室預約 
                    </a>
                </li>
                <li class="lotus">
                    <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfsys/meet_inform.nsf", "&d=LOTUS_OA_PSA_107")">
                        會議召開通知與會議記錄
                    </a>
                </li>
            </ul>
        </li>
        <li class="level1">資訊<ul>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfsys/reqmis.nsf", "&d=LOTUS_OA_PSA_109")">
                    資訊服務申請單
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfkm/lwfkm_MisTechDoc.nsf/", "&d=LOTUS_OA_PSA_202")">
                    資訊技術智庫
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://pm.gbmgroup.com/pm/", "&d=WEB_OA_GBM_001")">
                    PM專案管理
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://gbmweb.gbmgroup.com/", "&d=WEB_OA_GBM_002")">
                    GBM網路資訊服務中心
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/uums_apply/login.aspx?co=110&st=0", "&d=WEB_OA_GBM_003")">
                    Notes郵箱(統一帳號)申請
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/UUMS_FEE/Login.aspx?co=110&st=0", "&d=WEB_OA_GBM_004")">
                    網絡服務費用分攤系統(HJ)
                </a>
            </li>
        </ul>
        </li>
    </ul>
</div>
<!--div_link_area_1 end-->
<div class="div_link_area" id="div_link_area_2">
    <ul>
        <li class="level1">人事、行政<ul>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/EHR/Login.aspx", "&d=WEB_OA_GBM_004")">
                    EMS人事E化平臺
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/HJ_GBMKM_0814/Login.aspx", "&d=#")">
                    EMS教育訓練系統 
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/hj_gbmkm_0812/Login.aspx", "&d=#")">
                    CMKgbm教育訓練系統 
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/hr_0820/login.aspx?co=109&st=0", "&d=Web2")">
                    裕嘉人事E化平台 
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/hj_gbmkm_0820/Index.aspx", "&d=#")">
                    裕嘉教育訓練系統 
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/hr_0888/login.aspx?co=110&st=0", "&d=Web5")">
                    黃江總管理處人事E化平臺 
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.30.11.7:8000/", "&d=#")">
                    元崧人事E化平台
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.30.11.7:8002/", "&d=#")">
                    元崧教育訓練系統
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.30.11.7:863/Login.aspx", "&d=#")">
                    元茂人事E化平台
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.30.11.7:9002/", "&d=#")">
                    元茂教育訓練系統
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://ksadm-ehr.gbmgroup.com.cn/ksadm-ehr/", "&d=#")">
                    昆山總管理處人事E化平台 
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfhr/lwfnewpeople.nsf", "&d=LOTUS_OA_PSA_203")">
                    員工聘用申請單
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://wtcns10.passivecomponent.com/lwfhr/lwfrflmas.nsf", "&d=LOTUS_OA_PSA_204")">
                    員工請假申請單
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://wtcns10.passivecomponent.com/lwfhr/lwftimecard.nsf", "&d=LOTUS_OA_PSA_205")">
                    員工忘卡申請單
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://wtcns10.passivecomponent.com/lwfhr/lwfovertime.nsf", "&d=LOTUS_OA_PSA_206")">
                    員工加班申請單
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://wtcns10.passivecomponent.com/lwfhr/lwfoutwork.nsf", "&d=LOTUS_OA_PSA_207")">
                    員工公差申請單
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.220:8008/person/", "&d=#")">
                    永不錄用查詢系統
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://gbmns31.gbmgroup.com/lwfkm/hrknowledge.nsf", "&d=LOTUS_OA_GBM_202")">
                    人事知識庫 
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://gbmns31.gbmgroup.com/lwfkm/genadmknowledge.nsf/", "&d=LOTUS_OA_GBM_201")">
                    行政知識庫
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://gbmns31.gbmgroup.com/lwfkm/commonknowledge.nsf", "&d=LOTUS_OA_GBM_204")">
                    共同單位知識庫 
                </a>
            </li>
        </ul>
        </li>
    </ul>
</div>
<!--div_link_area_2 end-->
<div class="div_link_area" id="div_link_area_3">
    <ul>
        <li class="level1">總務<ul>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/GAS_eForm/Login.aspx", "&d=#")">
                    EMS總工務E化平臺 
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/GAS_0888/Login.aspx?co=110&st=0", "&d=#")">
                    黃江總管理處總工務簽核平台
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/GAS_KS/Login.aspx?co=105&st=0", "&d=#")">
                    昆山總工務簽核平台
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.220:9018/", "&d=#")">
                    總務料號申請系統 
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.220:8002/cattools/", "&d=#")">
                    設備組織管理系統
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/equipment/", "&d=#")">
                    特種設備管理系統
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/repair/Default.aspx", "&d=Web_emp")">
                    修繕管理系統
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://gbmns31.gbmgroup.com/lwfsys/vehicle.nsf/", "&d=LOTUS_OA_GBM_206")">
                    派車申請單
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://gbmns31.gbmgroup.com/lwfsys/customervisit.nsf/", "&d=LOTUS_OA_GBM_207")">
                    訪廠申請單
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://gbmns31.gbmgroup.com/lwfsys/welding.nsf/", "&d=LOTUS_OA_GBM_208")">
                    動火申請單
                </a>
            </li>
        </ul>
        </li>
        <li class="level1">關務、船務(HJ)、物流(KS)<ul>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://shipping.gbm.com.tw/", "&d=#")">
                    船務網站(黃江)
                </a>
            &nbsp;
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/KS_SHIP/default.aspx", "&d=#")">
                    物流系統(昆山)
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://hq.gbmgroup.com/", "&d=#")">
                    關務網站
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://gbmns31.gbmgroup.com/lwfkm/customsknowledge.nsf", "&d=LOTUS_OA_GBM_203")">
                    關務知識庫
                </a>
            </li>
        </ul>
        </li>
        <li class="level1">採購招標<ul>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.220:8002/SCM_BID_I/Login.aspx", "&d=#")">
                    招標系統(對內)
                </a>&nbsp;
                <a target="_blank" href="@Util.EncodeUrl("http://scm.gbmgroup.com", "&d=#")">
                    招標系統(對外)
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://ksebuying.gbmgroup.com.cn/", "&d=#")">
                    元崧報價平臺
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.220:8002/SCM_MAT/Default.aspx", "&d=#")">
                    SCM料編系統
                </a>
            </li>
        </ul>
        </li>
    </ul>
</div>
<!--div_link_area_3 end-->
<div class="div_link_area" id="div_link_area_4">
    <ul>
        <li class="level1">法務、財務<ul>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfsys/lwfLawSignApp.nsf/", "&d=LOTUS_OA_PSA_201")">
                    用印申請單 
                </a>
                (一般、法務用印)
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.220:8002/finance/", "&d=#")">
                    財務網站
                </a>
            </li>
        </ul>
        </li>
        <li class="level1">風控<ul>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfsys/lwfCustImpDNReq.nsf/", "&d=LOTUS_OA_PSA_206")">
                    客戶信用額度申請
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfsap/lwfSCR.nsf/", "&d=LOTUS_OA_PSA_209")">
                    客戶簽訂合約-佣金&大項費用
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfsys/financial.nsf", "&d=LOTUS_OA_PSA_210")">
                    財務申請單
                </a>
            </li>
        </ul>
        </li>
        <li class="level1">工程、業務、製造、品管<ul>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://gbmns31.gbmgroup.com/lwfdcc/ccb.nsf/", "&d=A3")">
                    CMK-CCB文件申請單
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://gbmns31.gbmgroup.com/lwfdcc/TPI.nsf/", "&d=A4")">
                    CMK-臨時作業規範
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/EMS_ITEMAPPLY/Login.aspx", "&d=#")">
                    EMS料號申請系統
                </a>
            </li>
            <li>
                <a target="_blank" href="@Util.EncodeUrl("http://172.24.81.20/cms/", "&d=#")">
                    EMS-品質管理系統
                </a>
            </li>
        </ul>
        </li>
        <li class="level1">海外干部差旅<ul>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfsys/reqabroad.nsf", "&d=LOTUS_OA_PSA_204")">
                    台灣區-出國計劃書系統
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://wtcicm.passivecomponent.com/lwfhr/travelexpense.nsf", "&d=LOTUS_OA_PSA_205")">
                    台灣區-差旅費報銷單系統
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://gbmns31.gbmgroup.com/lwfhr/ostripexpense.nsf", "&d=LOTUS_OA_GBM_210")">
                    海外干部_報銷申請單(GBM)
                </a>
            </li>
            <li class="lotus">
                <a target="_blank" href="@Util.EncodeUrl("http://gbmns31.gbmgroup.com/lwfhr/ocm.nsf", "&d=LOTUS_OA_GBM_211")">
                    海外干部_請假出差申請單(GBM)
                </a>
            </li>
        </ul>
        </li>
        <li class="level1"><a id="EMS" href="http://172.24.84.10/emsweb/home.aspx#" target="_blank"><span style="color:rgb(128, 0, 0);">EMS入口網站</span></a></li>
    </ul>
</div>
<!--div_link_area_4 end-->
<div id="div_link_area_bottom">
    <ul>
        <li>
            <a id="gbm" target="_blank"  href="http://www.gbm.com.tw/zhcn/about/company.html">
                精成科技網
            </a>
        </li>
        <li>
            <a id="psa" target="_blank"  href="http://www.passivecomponent.com/PSA.htm">
                華科事業群網址
            </a>
         </li>
    </ul>
</div>
<!--div_link_area_bottom end-->
